/*button {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  text-shadow: none;*/
/*  font-size: 1rem;*/
/*  cursor: pointer;*/
/*  min-height: 1em;*/
/*  color: #fff;*/
/*  background-color: #2185d0;*/
/*  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;*/
/*  outline: 0;*/
/*  border: none;*/
/*  vertical-align: baseline;*/
/*  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
/*  margin: 0 .25em 0 0;*/
/*  padding: .8em 40px .8em 40px;*/
/*  text-transform: none;*/
/*  font-weight: 700;*/
/*  line-height: 1em;*/
/*  font-style: normal;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*  border-radius: .3rem;*/
/*  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;*/
/*}*/

/*button:hover{*/
/*  background-color: #1678c2;*/
/*}*/

/*button:disabled{*/
/*  background-color: #e0e1e2 !important;*/
/*  color: rgba(0,0,0,.6);*/
/*  cursor: default;*/
/*}*/

/*.spinner-wrp{*/
/*  width: 25px;*/
/*  height: 15px;*/
/*}*/


button {
  box-sizing: border-box;
  height: 50px;
  position: relative;
  bottom: 0;
}
