<mat-list-item>
<div class="wrapInfo" (click)="open(this.data.id)">
  <div class="cellIndex"  >{{this.index}}</div>
  <div class="cell"> {{this.data.lastName}} <br>
{{this.data.name}} {{this.data.middleName}}

  </div>
  <div class="cell"  >{{this.data.organization.name }}</div>
  <div class="cell"  *ngIf="this.data.contacts">{{this.data.contacts[0]?.phones[0].number }}</div>
</div>
  <div class="wrapButton">
    <button mat-icon-button color="primary" (click)="hideShowWindow(true, this.data.id)">
      <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="edit(this.data.id)">
      <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
    </button>
  </div>
</mat-list-item>
