.wrapButton{
  width: 20%;
  float: right;
}
.cell{
  width: 30%;

}
button{
  float: right;
}
.cellIndex{
  width: 10%;
}
.wrapInfo{
  width: 80%;
  display: flex;
}

/*.wrapButton{*/
/*  width: 20%;*/
/*  float: right;*/
/*}*/
/*!*.cell{*!*/
/*!*  width: 30%;*!*/
/*!*}*!*/
/*button{*/
/*  float: right;*/
/*}*/
/*.cellIndex{*/
/*  width: 20%;*/
/*}*/
