<div *ngIf="person" class="mainWrap">
  <app-button-with-spinner [name]="['Back']" [routerLink]="['/person-list']"></app-button-with-spinner>
  <h2>Information about {{person.name}} {{person.lastName}}</h2>
  <h3>General information</h3>
  <div class="information">

    <div><p>Name: </p>{{person.name}}</div>
    <div><p>Middle name: </p>{{person.middleName}}</div>
    <div><p>Last name: </p>{{person.lastName}}</div>
    <div><p>Birth date: </p>{{person.birthDate}}</div>
    <div><p>Description: </p>{{person.description}}</div>
    <div><p>Last name: </p>{{person.lastName}}</div>
    <div><p>Birth date: </p>{{person.birthDate}}</div>
  </div>
  <h3>Organization</h3>
  <div class="information">
    <div><p>Organization name: </p>{{person.organization.name}}</div>
    <div><p>Organization owner form: </p>{{person.organization.ownerForm}}</div>
    <div *ngFor="let address of person.organization.address; let i=index"><p>{{i + 1}}.Organization address:</p>
      <div><p>Country: </p>{{address.country}}</div>
      <div><p>Сity: </p>{{address.city}}</div>
      <div><p>Street: </p>{{address.street}}</div>
      <div><p>Street type: </p>{{address.streetType}}</div>
      <div><p>House number: </p>{{address.houseNumber}}</div>
      <div><p>Entrance number: </p>{{address.entranceNumber}}</div>
      <div><p>Apartment number: </p>{{address.apartmentNumber}}</div>
    </div>
  </div>
  <h3>Passport information</h3>
  <div class="information">
    <div><p>Private number: </p>{{person.privateNumber}}</div>
    <div><p>Passport series: </p>{{person.passportSeries}}</div>
    <div><p>Passport number: </p>{{person.passportNumber}}</div>
  </div>

  <h3 *ngIf="person.devices.length>0">Devices</h3>
  <div class="information" *ngFor="let device of person.devices">

    <div><p>Device: </p>{{device.name}} </div>
    <div><p>Device serialNumber: </p>{{device.serialNumber}} </div>
    <div><p>Device organizationNumber: </p>{{device.organizationNumber}} </div>
    <div><p>Device purchase Date: </p>{{device.purchaseDate}} </div>
    <div><p>Device in use: </p>{{device.inUse}} </div>
    <div><p>Device broken: </p>{{device.broken}} </div>
  </div>
  <h3 *ngIf="person.contacts.length>0">Contacts</h3>
  <div class="information" *ngFor="let contact of person.contacts">
    <div><p>Site: </p>{{contact.site}}</div>
    <div><p>Email: </p>{{contact.email}}</div>
    <div *ngFor="let address of contact.address; let i=index"><p>{{i + 1}}.Organization address</p>
      <div><p>Country: </p>{{address.country}}</div>
      <div><p>Сity: </p>{{address.city}}</div>
      <div><p>Street: </p>{{address.street}}</div>
      <div><p>Street type: </p>{{address.streetType}}</div>
      <div><p>House number: </p>{{address.houseNumber}}</div>
      <div><p>Entrance number: </p>{{address.entranceNumber}}</div>
      <div><p>Apartment number: </p>{{address.apartmentNumber}}</div>
    </div>
    <div><p>Phones: </p></div>
    <div *ngFor="let phone of contact.phones; let i=index;">{{i + 1}}.
      +{{phone.prefix}} {{phone.code}} {{phone.number}}({{phone.operator}})
    </div>
  </div>
</div>
