h3{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin: 0 2vw 0 0 ;
  color: dimgrey;
  border-bottom: dimgrey 1px solid;
}
h2{
  text-align: center;
}

.information{
  margin-bottom: 20px;
}

mat-form-field {
  width: 28vw;
  min-width: 300px;
  margin-right: 20px;
}

h6{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin: 0 2vw 0 0 ;
  color: dimgrey;
  /*border-bottom: dimgrey 1px solid;*/
}

p{
  color: dimgrey;
  margin: 0;
  display: inline-block;
}


app-button-with-spinner {
  position: absolute;
  top: 0;
}

mat-card{
  width: 50vw;
  margin: 0 auto;
}

mat-spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  display: block;
}
