<h2>Update device</h2>
<form [formGroup]="updateForm" novalidate (ngSubmit)="submit()" class="login-form" *ngIf="this.dataDetails">

  <mat-form-field>
    <input matInput type="text" name="name" formControlName="name" placeholder="Name*"/>

    <div class="alert alert-danger"
         *ngIf="updateForm.controls['name'].invalid && updateForm.controls['name'].touched">
      Type name
    </div>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="serialNumber" formControlName="serialNumber" placeholder="Serial number*"/>

    <div class="alert alert-danger"
         *ngIf="updateForm.controls['serialNumber'].invalid && updateForm.controls['serialNumber'].touched">
      Type serial number
    </div>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" class="form-control" name="organizationNumber" formControlName="organizationNumber"
           placeholder="Organization number"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" name="purchaseDate" formControlName="purchaseDate" id="purchaseDate"
           placeholder="Select purchase date"/>
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker color="primary" #myDatepicker></mat-datepicker>
  </mat-form-field>


  <mat-checkbox name="inUse" color="primary" formControlName="inUse">In use</mat-checkbox>
  <br>
  <mat-checkbox name="broken" color="primary" formControlName="broken">Broken</mat-checkbox>

  <div>
    <div>
      <app-button-with-spinner [name]="['Update']" [showSpinner] = "this.showSpinner" [disabled]="updateForm.invalid">

      </app-button-with-spinner>

      <button mat-raised-button color="primary" class="btn btn-default" [routerLink]="['/device']">
        Back
      </button>
    </div>
    <div class="alert alert-danger"
         *ngIf="error">
      {{this.error}}
    </div>
  </div>
</form>
