form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columnInput {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  flex-direction: column;
  margin-right: 50px;
}

mat-form-field{
  min-width: 300px;
}

button{
  box-sizing: border-box;
  height: 50px;
}
h2{
  text-align: center;
}
