<!--<h2>{{namePage}}</h2>-->
<app-button-with-spinner class="back" [name]="['Back']" [routerLink]="['/person-list']"></app-button-with-spinner>
<h2>Create new person</h2>
<form [formGroup]="formPerson" novalidate (ngSubmit)="submit()" class="login-form">
  <h3>General information</h3>
  <div class="information">

    <mat-form-field>
      <mat-label for="name">Name:</mat-label>
      <input matInput placeholder="Name" required id="name" type="text" name="name" formControlName="name"
             [errorStateMatcher]="matFormFieldMatcher">
      <div class="alert alert-danger"
           *ngIf="formPerson.controls['name'].invalid && formPerson.controls['name'].touched">
        The field musn't be empty
      </div>
    </mat-form-field>


    <mat-form-field>
      <mat-label for="middleName">Middle name:</mat-label>
      <input matInput placeholder="Middle name" id="middleName" type="text" name="middleName"
             formControlName="middleName">
    </mat-form-field>

    <mat-form-field>
      <mat-label for="lastName">Last name:</mat-label>
      <input matInput placeholder="Last name" required id="lastName" type="text" name="lastName"
             formControlName="lastName" [errorStateMatcher]="matFormFieldMatcher">
      <div class="alert alert-danger"
           *ngIf="formPerson.controls['lastName'].invalid && formPerson.controls['lastName'].touched">
        The field musn't be empty
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="birthDate">Select birth date:</mat-label>
      <input matInput [matDatepicker]="myDatepicker" placeholder="Select birth date" required id="birthDate"
             name="birthDate" formControlName="birthDate" [errorStateMatcher]="matFormFieldMatcher">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
      <div class="alert alert-danger"
           *ngIf="formPerson.controls['birthDate'].invalid && formPerson.controls['birthDate'].touched">
        The field musn't be empty
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="description">Description:</mat-label>
      <input matInput placeholder="Description" id="description" type="text" name="description"
             formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label for="organization">Organization</mat-label>
      <mat-select placeholder="Organization name" required id="organization" type="text" name="organization"
                  formControlName="organization" [errorStateMatcher]="matFormFieldMatcher">
        <mat-option *ngFor="let organization of allOrganization" [value]="organization.id">
          {{organization.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h3>Passport information</h3>
  <div class="information">

    <mat-form-field>
      <mat-label for="privateNumber">Private number:</mat-label>
      <input matInput placeholder="Private number" required id="privateNumber" type="text" name="privateNumber"
             formControlName="privateNumber" [errorStateMatcher]="matFormFieldMatcher">
      <div class="alert alert-danger"
           *ngIf="formPerson.controls['privateNumber'].invalid && formPerson.controls['privateNumber'].touched">
        The field musn't be empty
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="passportSeries">Passport series:</mat-label>
      <input matInput placeholder="Passport series" required id="passportSeries" type="text" name="passportSeries"
             formControlName="passportSeries" [errorStateMatcher]="matFormFieldMatcher">
      <div class="alert alert-danger"
           *ngIf="formPerson.controls['passportSeries'].invalid && formPerson.controls['passportSeries'].touched">
        Type passport series, like 'AA'
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="passportNumber">Passport number:</mat-label>
      <input matInput placeholder="Passport number" required id="passportNumber" type="text" name="passportNumber"
             formControlName="passportNumber" [errorStateMatcher]="matFormFieldMatcher">
      <div class="alert alert-danger"
           *ngIf="formPerson.controls['passportNumber'].invalid && formPerson.controls['passportNumber'].touched">
        Type passport number, like '111111'
      </div>
    </mat-form-field>
  </div>

  <h3>Devices
    <button mat-icon-button color="primary" type="button" (click)="addDevices()">
      <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
    </button>
  </h3>
  <div class="information">
    <div formArrayName="devices"
         *ngFor="let device of formPerson.controls.devices.value; let iD = index; trackBy: trackByFn">
      <div [formGroupName]="iD">
        <div>{{iD}}
          <button  mat-icon-button color="primary" type="button" (click)="deleteDevices(iD)">
            <mat-icon aria-hidden="false" aria-label="remove">remove</mat-icon>
          </button></div>
        <mat-form-field>
          <mat-label for="devices">Device</mat-label>
          <mat-select placeholder="Device" id="devices" type="text" name="devices"
                      formControlName="devices">
            <mat-option *ngFor="let deviceSelect of allDevice" [value]="deviceSelect.id">
              {{deviceSelect.name}} {{deviceSelect.serialNumber}}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>

    </div>
  </div>

  <h3>Contacts
    <button mat-icon-button color="primary" type="button" (click)="addContact()">
      <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
    </button>
  </h3>
  <div class="information">
    <div formArrayName="contacts"
         *ngFor="let contact of formPerson.controls.contacts.value; let i = index; trackBy: trackByFn">
      <ng-container [formGroupName]="i">
        <div>{{i}}
          <button mat-icon-button color="primary" type="button" (click)="deleteContact(i)">
            <mat-icon aria-hidden="false" aria-label="remove">remove</mat-icon>
          </button>
        </div>
        <mat-form-field>
          <mat-label>Site:</mat-label>
          <input matInput placeholder="Site" type="text" name="site" formControlName="site">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input matInput placeholder="Email" type="text" name="email"
                 formControlName="email">
          <div class="alert alert-danger"
               *ngIf="formPerson.controls.contacts.controls[i].controls.email.invalid ">
            Type email, like 'aaa@gmail.com'
          </div>
        </mat-form-field>

        <h6>Address
          <button mat-icon-button color="primary" type="button" type="button" (click)="addAddress(i)">
            <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
          </button>
        </h6>
        <div formArrayName="address"
             *ngFor="let address of formPerson.controls.contacts.controls[i].controls.address.value; let iA = index; trackBy: trackByFn">
          <ng-container [formGroupName]="iA">
            <div> {{iA}}
              <button *ngIf="iA!==0" mat-icon-button color="primary" type="button" (click)="deleteAddress(iA, i)">
                <mat-icon aria-hidden="false" aria-label="remove">remove</mat-icon>
              </button></div>
            <mat-form-field>
              <mat-label for="country">County:</mat-label>
              <input matInput placeholder="Country" required id="country" type="text" name="country"
                     formControlName="country" [errorStateMatcher]="matFormFieldMatcher">
              <div class="alert alert-danger"
                   *ngIf="formPerson.controls.contacts.controls[i].controls.address.controls[i].controls.country.invalid && formPerson.controls.contacts.controls[i].controls.address.controls[i].controls.country.touched">
                The field musn't be empty
              </div>
            </mat-form-field>

            <mat-form-field>
              <mat-label for="city">City:</mat-label>
              <input matInput placeholder="City" required id="city" type="text" name="city"
                     formControlName="city" [errorStateMatcher]="matFormFieldMatcher">
              <div class="alert alert-danger"
                   *ngIf="formPerson.controls.contacts.controls[i].controls.address.controls[i].controls.city.invalid && formPerson.controls.contacts.controls[i].controls.address.controls[i].controls.city.touched">
                The field musn't be empty
              </div>
            </mat-form-field>

            <mat-form-field>
              <mat-label for="street">Street:</mat-label>
              <input matInput placeholder="Street" required id="street" type="text" name="street"
                     formControlName="street" [errorStateMatcher]="matFormFieldMatcher">
              <div class="alert alert-danger"
                   *ngIf="formPerson.controls.contacts.controls[i].controls.address.controls[i].controls.street.invalid && formPerson.controls.contacts.controls[i].controls.address.controls[i].controls.street.touched">
                The field musn't be empty
              </div>
            </mat-form-field>

            <mat-form-field>
              <mat-label for="streetType">Street type:</mat-label>
              <input matInput placeholder="Street type" id="streetType" type="text" name="streetType"
                     formControlName="streetType">
            </mat-form-field>

            <mat-form-field>
              <mat-label for="houseNumber">House number:</mat-label>
              <input matInput placeholder="House number" required id="houseNumber" type="text" name="houseNumber"
                     formControlName="houseNumber" [errorStateMatcher]="matFormFieldMatcher">
              <div class="alert alert-danger"
                   *ngIf="formPerson.controls.contacts.controls[i].controls.address.controls[i].controls.houseNumber.invalid && formPerson.controls.contacts.controls[i].controls.address.controls[i].controls.houseNumber.touched">
                The field musn't be empty
              </div>
            </mat-form-field>

            <mat-form-field>
              <mat-label for="entranceNumber">Entrance number:</mat-label>
              <input matInput placeholder="Entrance number" id="entranceNumber" type="text" name="entranceNumber"
                     formControlName="entranceNumber">
            </mat-form-field>

            <mat-form-field>
              <mat-label for="apartmentNumber">Apartment number:</mat-label>
              <input matInput placeholder="Apartment number" id="apartmentNumber" type="text" name="apartmentNumber"
                     formControlName="apartmentNumber">
            </mat-form-field>
          </ng-container>
        </div>

        <h6>Phones:
          <button mat-icon-button color="primary" type="button" (click)="addPhones(i)">
            <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
          </button>
        </h6>


        <div formArrayName="phones"
             *ngFor="let phones of formPerson.controls.contacts.controls[i].controls.phones.value; let iP = index; trackBy: trackByFn">
          <ng-container [formGroupName]="iP">
            <div>{{iP}}
              <button mat-icon-button color="primary" type="button" (click)="deletePhones(iP, i)">
                <mat-icon aria-hidden="false" aria-label="remove">remove</mat-icon>
              </button>
            </div>
            <mat-form-field>
              <mat-label for="prefix">Prefix:</mat-label>
              <input matInput placeholder="Prefix" required id="prefix" type="text" name="prefix"
                     formControlName="prefix" [errorStateMatcher]="matFormFieldMatcher">
              <div class="alert alert-danger"
                   *ngIf="formPerson.controls.contacts.controls[i].controls.phones.controls[i].controls.prefix.invalid && formPerson.controls.contacts.controls[i].controls.phones.controls[i].controls.prefix.touched">
                Type prefix, like '375'
              </div>
            </mat-form-field>

            <mat-form-field>
              <mat-label for="code">Code:</mat-label>
              <input matInput placeholder="Code" required id="code" type="text" name="code"
                     formControlName="code" [errorStateMatcher]="matFormFieldMatcher">
              <div class="alert alert-danger"
                   *ngIf="formPerson.controls.contacts.controls[i].controls.phones.controls[i].controls.code.invalid && formPerson.controls.contacts.controls[i].controls.phones.controls[i].controls.code.touched">
                Type code, like '29'
              </div>
            </mat-form-field>


            <mat-form-field>
              <mat-label for="number">Number:</mat-label>
              <input matInput placeholder="Number" required id="number" type="text" name="number"
                     formControlName="number" [errorStateMatcher]="matFormFieldMatcher">
              <div class="alert alert-danger"
                   *ngIf="formPerson.controls.contacts.controls[i].controls.phones.controls[i].controls.number.invalid && formPerson.controls.contacts.controls[i].controls.phones.controls[i].controls.number.touched">
                Type number, like '1111111'
              </div>
            </mat-form-field>

            <mat-form-field>
              <mat-label for="operator">Operator:</mat-label>
              <input matInput placeholder="Operator" id="operator" type="text" name="operator"
                     formControlName="operator">
            </mat-form-field>
          </ng-container>
        </div>

      </ng-container>
    </div>
  </div>


  <div class="columnButton">
    <app-button-with-spinner [name]="nameButton" [disabled]="formPerson.invalid || formPerson.untouched"
                             [showSpinner]="showSpinner"></app-button-with-spinner>
    <div class="alert alert-danger"
         *ngIf="error">
      {{error}}
    </div>
  </div>
</form>



